
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
*{
    padding: 0;
    margin: 0;
}

html {
  overflow-y: scroll;

}

a {
  cursor: pointer;
}

::selection {
  background: #555;
  color: #FFF;
}

::-moz-selection {
  background: #555;
  color: #FFF;
}

::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */

@font-face {
  font-family: Gotham-Rounded-Medium;
  font-size: 8.4pt;
  font-color: white;
  src: url('../fonts/Gotham-Rounded-Medium_21022.ttf');
}

body {
  margin: 0;
  background: #fff;
  font-family: Gotham-Rounded-Medium;
  font-size: 2em;
  color: #fff;
  padding: 0;
  height: 100%;
}

.athlete_category {
    left: 0;
    list-style: none;
    display: block;
}

.athlete_category li{
    background: rgba(45, 63, 114, .47);
    margin: 10px;
    padding: 30px;
}
.athlete_category li span{
    color: yellow;
}


.athlete_info {
   font-family: Gotham-Rounded-Medium;
   align: center;
   font-size: 1.3em;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: 1s opacity;
    z-index: 1;
}

#info{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: rgba(4, 12 , 38, 0.88);
    z-index: 10;
    text-align: center;
}


#smallCameraPlayerScreen {
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: auto;
  height: auto;
  margin:1rem;
  float: right;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}


a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}

@media screen and (max-device-width: 800px) {
  html { background: #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
